.input-wrapper {
    height: 2.7rem;
    padding: 0 15px;
    background-color: #242424;
    display: flex;
    align-items: center;
  }

  input {
    background-color: transparent;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 6px;
  }

  input:focus {
    outline: none;
  }
